body {
  background-color: #ABDFA6;
}
.container {
  padding: 20px 0 0 0;
}
.container#main {
  border: solid 1px;
  border-top: 0px;
  border-bottom-left-radius: 5px;
  padding-bottom: 10px;
  border-bottom-right-radius: 5px;
  background-color: #FFF;
}
.hero-unit{background: #FFF;padding: 0}
.page-header{clear: both; }
footer{text-align: center}
a, a:hover {
  color: #4D8F8A;
}
p.location {
  margin-top: 16px;
  margin-bottom: 0px;
}